@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: hsl(218, 23%, 16%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --color-primary:hsl(193, 38%, 86%);
    --color-secoundary: hsl(150, 100%, 66%);
}

body {
    font-family: 'Manrope', sans-serif;
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}