@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: hsl(218, 23%, 16%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --color-primary:hsl(193, 38%, 86%);
    --color-secoundary: hsl(150, 100%, 66%);
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-color);
    color: var(--color-primary);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Css en mobile-first */

.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.header {
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-left: 1rem;
}

header > h2 {
    font-size: 1rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-left: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 7rem;
    background-color: var(--Dark-Grayish-Blue);
}

.content > h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1rem;
    margin-bottom: 20px;
    color: var(--color-secoundary);
}

.advice {
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
    margin-bottom: 20px;
    text-align: center;
}

.line {
    margin-top: 10px;
}

.triangle {
    position: relative;
    height: 10vh;
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 26px 26px 0 26px;
    border-color: var(--color-primary) transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}

h3 {
    margin-top: 2rem;
}


.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-secoundary);
    position: relative;
    bottom: -48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.circle:hover {
    box-shadow: 0 0 30px var(--color-secoundary);
}

/* Media queries */


@media screen and (min-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 40%;
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
}